In [2]:
import pandas as pd

In [7]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)

In [8]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
# Get the total number of students.
student_count = school_data_complete_df.count()
school_data_complete_df["gender"].count()

39170

In [17]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
len(school_count_2)

15

In [18]:
# Calculate the total budget. 
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [21]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()

In [24]:
passing_math = school_data_complete_df.math_score >= 70
passing_reading = school_data_complete_df.reading_score >= 70
passing_math.head()

0     True
1    False
2    False
3    False
4     True
Name: math_score, dtype: bool

In [29]:
# Get all the students who are passing math in a new DataFrame. using brackets can filter a DF
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
#passing_math.head()
passing_math["student_name"].count()

29370

In [30]:
# Get all the students that are passing reading in a new DataFrame.using brackets can filter a DF
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
len(passing_reading)

33610

In [33]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count,passing_reading_count)

29370 33610

In [36]:
student_count =school_data_complete_df["Student ID"].count()

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) *100

print(passing_math_percentage,passing_reading_percentage)

74.9808526933878 85.80546336482001

In [39]:
#passing both subjects
passing_both = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_both.student_name.count()

25528

In [40]:
# Calculate the overall passing percentage.
overall_passing_percentage = passing_both.student_name.count() / student_count * 100
overall_passing_percentage

65.17232575950983