In [60]:
import pandas as pd

In [61]:
# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)

In [8]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [14]:
# Get the total number of students.
student_count = school_data_complete_df.count()
school_data_complete_df["gender"].count()

39170

In [17]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
len(school_count_2)

15

In [18]:
# Calculate the total budget. 
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [21]:
# Calculate the average reading score.
average_reading_score = school_data_complete_df["reading_score"].mean()
# Calculate the average math score.
average_math_score = school_data_complete_df["math_score"].mean()

In [24]:
passing_math = school_data_complete_df.math_score >= 70
passing_reading = school_data_complete_df.reading_score >= 70
passing_math.head()

0     True
1    False
2    False
3    False
4     True
Name: math_score, dtype: bool

In [29]:
# Get all the students who are passing math in a new DataFrame. using brackets can filter a DF
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
#passing_math.head()
passing_math["student_name"].count()

29370

In [30]:
# Get all the students that are passing reading in a new DataFrame.using brackets can filter a DF
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
len(passing_reading)

33610

In [33]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count,passing_reading_count)

29370 33610

In [36]:
student_count =school_data_complete_df["Student ID"].count()

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count) *100

print(passing_math_percentage,passing_reading_percentage)

74.9808526933878 85.80546336482001

In [39]:
#passing both subjects
passing_both = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_both.student_name.count()

25528

In [40]:
# Calculate the overall passing percentage.
overall_passing_percentage = passing_both.student_name.count() / student_count * 100
overall_passing_percentage

65.17232575950983

In [41]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [42]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [44]:
# Calculate the total student count.
per_school_counts = school_data_df["size"]
per_school_counts

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [45]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [46]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [47]:
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [49]:
# Calculate the math scores.
student_school_math = student_data_df.set_index(["school_name"])["math_score"]

In [50]:
# Calculate the average math scores.
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

,Unnamed: 0,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,,
Bailey High School,20358.5,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [53]:
# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [55]:
# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_math

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [56]:
# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

In [57]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100